html,
body {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    /*width: 100vw;*/
    height: 100vh;
    background: #e7f4ff;
}
a:focus,
button:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}
.site-nav {
    background: #e7f4ff;
    padding: 24px 0 0;
}
.head-nav {
    margin-bottom: 20px;
}
section {
    padding: 60px 0 65px;
    clear:  both;
    position:  relative;
}
.section-light {
    background: #fff;
}
.section-gray {
    background-color: #eceff1;
}
section h2.section-title {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 21px;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.form-footer h2.section-title {
    color: #4a4a4a;
}
section h4.sect-subtitle {
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #555555;
}
/*== Welcome Section ==*/
section.welcome-section {
    padding-top: 0px;
    min-height: 300px;
    padding-bottom: 25px;
}
.welcome-section.top-grad {
    background: #e7f4ff;
    background: -moz-linear-gradient(top, #e7f4ff 0%, #ffffff 43%);
    background: -webkit-linear-gradient(top, #e7f4ff 0%,#ffffff 43%);
    background: linear-gradient(to bottom, #e7f4ff 0%,#ffffff 43%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f4ff', endColorstr='#ffffff',GradientType=0 );
}
.site-nav a.logo {
    color: #757575;
    display: block;
}
.site-nav a.logo:hover,
.site-nav a.logo:focus {
    text-decoration: none;
    color: #757575;
    outline: none;
}
.site-nav a.logo img {
    display: block;
    margin-bottom: 5px;
}
.site-nav a.logo span {
    display: block;
    font-size: 11px;
    line-height: 14px;
}
.header-right {
    text-align: right;
    list-style-type:  none;
    height: 30px;
    margin-top: 0px;
}
.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    /* height: 32px; */
}
.header-right ul li {
    display: block;
    float: left;
    line-height: 32px;
    margin-left: 23px;
}
.header-right ul li:first-child {
    margin-left: 0;
}
.header-right ul li a {
    position: relative;
    display: block;
    color: #ea6d2c;
    padding-left: 21px;
    line-height: 32px;
    float: left;
}
.header-right ul li a:hover,
.header-right ul li a:focus {
    text-decoration: none;
    color: #ea6d2c;
}
.header-right ul li a img {
    position: absolute;
    left: -2px;
    top: 5px;
}
.header-right ul li a span {
    font-size: 18px;
    color: #ea6d2c;
    font-weight: 600;
    display: block;
}
.header-right ul li small {
    display: block;
    font-size: 13px;
    color: #999;
    line-height: 33px;
    padding-left: 10px;
    float: left;
}

.welcome-text {
    color: #2f74c0;
    font-weight: bold;
    float: left;
    text-align: left;
    font-size: 40px;
    margin-left: 63px;
    margin-top: 85px;
    line-height: normal;
    font-style: italic;
    margin-bottom: 102px;
}
.welcome-image-holder {
    position: relative;
}
.welcome-image {
    position: absolute;
    left: -73px;
    height: 300px;
    z-index: 999;
    width: 100%;
    overflow: hidden;
    padding-top: 38px;
}
.welcome-image img {
    max-width: initial;
    position: initial;
}


/*.welcome-image {*/
/*display: block;*/
/*position: relative;*/
/*height: 230px;*/
/*padding-top: 35px;*/
/*}*/
/*.welcome-image img {*/
/*max-width: 100%;*/
/*position: absolute;*/
/*right: 85px;*/
/*}*/

.h-form {
    background: #4b4d4a;
    padding: 35px 0 17px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}
.h-form h3.form-title {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    margin-bottom: 10px;
    line-height: 35px;
}
/*== Expert Carousel Section ==*/
section.experts-slider {
    padding: 20px 0 27px;
}
#expertCarousel .carousel-body  {
    position: relative;
}
.carousel-body .expert-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #d8d8d8;
    border: 1px solid #979797;
    display: inline-block;
    float: left;
    overflow: hidden;
}
.carousel-body .expert-image img {
    max-width: 100%;
    display: inline-block;
}
.carousel-body .expert-says {
    width: calc(100% - 128px);
    float: left;
    padding-left: 15px;
}
.carousel-body .expert-says p {
    font-size: 20px;
    color: #555;
    margin: 14px 0 11px;
}
.carousel-body .expert-says h3 {
    font-size: 18px;
    color: #484848;
    font-weight: 600;
}

/*== Why Sell Section ==*/
.why-sell {
    padding: 60px 0 38px;
}
.why-sell .sellBox {
    position: relative;
    background: #fff;
    padding: 16px 75px 16px 32px;
    overflow: hidden;
    width: 100%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.why-sell .sellBox h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #333;
    margin: 0;
}
.why-sell .sellBox span.icon {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 65px;
}
.why-sell .sellBox span.icon img {
    max-width: 100%;
}
.why-sell .sellBox span.icon.first {}
.why-sell .sellBox span.icon.second {
    right: 10px;
}
.why-sell .sellBox span.icon.third {
    right: 10px;
}
.why-sell .sellBox span.icon.fourth {
    right: 10px;
}

/*== How It Works ==*/
.work-tabs {}
.work-tabs ul.nav-tabs {
    border: 0;
    text-align: center;
    display: block;
    font-size: 0px;
}
.work-tabs ul.nav-tabs li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.work-tabs ul.nav-tabs li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.work-tabs ul.nav-tabs li {
    margin-bottom: 0;
    width: 270px;
    display: inline-block !important;
}
.work-tabs ul.nav-tabs li a {
    position: relative;
    margin: 0;
    width: auto;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #777;
    border-radius: 0;
    border: 0;
    background: #fff;
    padding: 0 0;
    line-height: 40px;
    border: 1px solid #dadada;
}
.work-tabs ul.nav-tabs li a::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #fff;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 999;
    right: -15px;
    top: 0;
}
.work-tabs ul.nav-tabs li a::after {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #dadada;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 99;
    right: -16px;
    top: 0;
}
.work-tabs ul.nav-tabs li a.active {
    border: 1px solid #bf4809 !important;
    background: #ea6d2c;
    color: #fff;
}
.work-tabs ul.nav-tabs li a.active::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #bf4809;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 99;
    right: -17px;
    top: -1px;
}
.work-tabs ul.nav-tabs li a.active::after {
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 16px solid #ea6d2c;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 999;
    right: -16px;
    top: 0;
}

.work-tabs ul.nav-tabs li.last-item a::before,
.work-tabs ul.nav-tabs li.last-item a::after {
    display: none;
}

.work-tabs .tab-content .tab-pane {
    text-align: center;
    padding-top: 30px;
}
.work-tabs .tab-pane p.tab-text {
    font-size: 16px;
    color: #555;
    margin: 0 0 50px;
}

.work-tabs span.howMainImg {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
}

.work-tabs span.howMainImg img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.work-tabs span.howMainImg .absolute-image {
    position: absolute;
}
.work-tabs span.howMainImg .absolute-image img {
    display: block;
}
/*Tab 1*/
.work-tabs span.howMainImg.how-1 img {
    padding-right: 100px;
}
.work-tabs span.howMainImg.how-1 .absolute-image {
    top: 0;
}
/*Tab 2*/
.work-tabs span.howMainImg.how-2 .absolute-image {
    bottom: 0px;
    right: 190px;
}
/*Tab 3*/
.work-tabs span.howMainImg.how-3 .absolute-image {
    top: 10px;
    right: 50%;
    margin-right: -158px;
}
.work-tabs .how-to-btn {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #ff5f00 !important;
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #ff5f00;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;
    background: #fff;
}
.work-tabs .how-to-btn:hover,
.work-tabs .how-to-btn:focus,
.work-tabs .how-to-btn:active,
.work-tabs .how-to-btn:visited {
    outline: none;
    box-shadow: none;
}

/*== Preferred Choice Section==*/
section.preferred-choice {
    padding: 50px 0 55px;
}
.preferred-choice h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.36;
    color: #000;
    margin: 0;
}
.preferred-choice h3 {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #265394;
    margin: 0;
}
.preferred-choice h3 span {
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #555;
    margin: 0;
}
.preferred-choice .first-choice {
    padding: 0 5%;
}
.preferred-choice .second-choice {padding: 0 10px;}
.preferred-choice .third-choice {}



/*== Customer Slider Section ==*/
section.customers-slider {
    background: #265394;
    padding: 65px 0 65px;
}
section.customers-slider h2.section-title {
    color: #fff;
    margin-bottom: 27px;
}
.customers-slider .slider-image img {
    max-width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.customer-reviews {
    position: relative;
    color: #fff;
    padding: 60px 20px;
}
.customer-reviews:before,
.customer-reviews:after {
    content: '';
    position: absolute;
    width: 75px;
    height: 90px;
    background-size: 30px;
    z-index: -1;
}
.customer-reviews:before {
    top: 5px;
    background: url("../img/quote_img.svg") no-repeat 0 0;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 20px;
}
.customer-reviews:after {
    bottom: 0;
    background: url("../img/quote_img.svg") no-repeat 0 0;
    right: 0;
    bottom: -60px;
}
.customer-reviews p {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    color: #fff;
    margin: 0;
}
.customer-reviews h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    color: #92a9c9;
    margin: 16px 0 0;
}
.customer-reviews h3 span {
    font-weight: 300;
}

#customerCarousel .carousel-control-next,
#customerCarousel .carousel-control-prev {
    width: 40px;
    opacity: 0.2;
}
#customerCarousel .carousel-control-next {
    background: url("../img/customer-right.png") no-repeat !important;
    background-size: 16px !important;
    background-position: center !important;
    right: -80px;
}
#customerCarousel .carousel-control-prev {
    background: url("../img/customer-left.png") no-repeat !important;
    background-size: 16px !important;
    background-position: center !important;
    left: -80px;
}

/*== Media Section ==*/
section.media-center {
    background: #eceff1 !important;
    padding: 57px 0 60px;
}
.media-center h2.section-title {
    color: #000 !important;
}
span.media-logo {
    display: block;
    text-align: center;
}
span.media-logo img {
    display: block;
    max-width: 100%;
}

/*== Question Section ==*/
.question-section {
    padding: 60px 0 40px;
}
.question-section a.question-title {
    display: block;
    margin: 0;
    padding: 22px 0;
    cursor: pointer;
    position: relative;
    font-family: Arial;
    font-size: 20px;
    line-height: 1.2;
    color: #2d2d2d;
    border-bottom: 1px solid transparent;
}
.question-section a.question-title.collapsed {
    border-bottom: 1px solid #e0e0e0;
}
.question-section .question-title:after {
    content: "";
    position: absolute;
    right: -5px;
    top: 23px;
    width: 20px;
    height: 20px;
    background: url("../img/acc-up.png") no-repeat right;
    background-size: 20px;
}
.question-section .question-title.collapsed:after {
    background: url("../img/acc-down.png") no-repeat top right;
    background-size: 20px;
}
.question-section a.question-title.last-question {
    border-bottom: 0;
}
.question-section a.question-title:hover,
.question-section a.question-title:focus {
    text-decoration: none;
    color: #2d2d2d;
}
.question-section .question-body {
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
}
.question-section a.question-title.last-question + .question-body {
    border-bottom: 1px solid transparent !important;
}
.question-section .question-body p {
    font-family: Arial;
    font-size: 18px;
    line-height: 1.44;
    text-align: justify;
    color: #787878;
}

section.form-footer {
    background: #f5f5f5;
}

/*== Footer Section ==*/
footer {
    padding: 25px 0;
    background: #303030;
}
footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .f-social {
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;
    text-align: center;
    font-size: 0px;
}
footer .f-social li {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
}
footer .f-social li a {
    display: block;
    background: transparent;
    color: #303030;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
footer .f-social li a:hover {
}

footer .f-links {}
footer .f-links h3 {
    margin: 0 0 14px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    letter-spacing: .3px;
    color: #fff;
}
footer .f-links ul {
    list-style-type: none;
    margin: 0 0 15px;
    padding: 0;
    font-size: 0px;
}
footer .f-links ul li {
    display: inline-block;
    margin-right: 0px;
    position: relative;
    padding-right: 15px;
}
footer .f-links ul li:after {
    content: '/';
    position: absolute;
    right: 0;
    width: 10px;
    height: 17px;
    color: #ccc;
    z-index: 99;
    top: 3px;
    font-size: 12px;
}
footer .f-links ul li:last-child {
    padding-right: 0;
}
footer .f-links ul li:last-child:after {
    display: none;
}
footer .f-links ul li a {
    font-family: arial;
    display: block;
    font-size: 14px;
    line-height: 1.71;
    color: #e0e0e0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
footer .f-links ul li a:hover {
    color: #f6f6f6;
    text-decoration: none;
}
footer .f-links ul li a.blinking {
    position: relative;
}
footer .f-links ul li a.blinking span {
    position: absolute;
    right: -32px;
    background: #ec6d1c;
    padding: 0px 4px;
    border-radius: 3px;
    top: -4px;
    font-size: 10px;
    color: #fff;
}

/*== Book Form Section ==*/
.home-book-form {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}
.home-book-form.footer {
    margin-top: 23px;
}
.home-book-form form {}
.home-book-form .field {
    display: block;
    float: left;
}
.home-book-form .field.drop {
    width: 125px;
    border-left: 1px solid #ccc;
}
.home-book-form .field.drop:first-child {
    border-left: 1px solid transparent;
}
.home-book-form .field.drop.drop-next {
    position: relative;
}
.home-book-form .field.drop.drop-next::after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: url("../img/home-next.svg") no-repeat;
    top: 50%;
    margin-top: -7px;
    right: -7px;
    z-index: 9;
}
.home-book-form .field .btn-select {
    -webkit-appearance:  none;
    cursor: pointer;
    padding: 5px 15px;
    border: 0;
    line-height: 40px;
    width: 100%;
    font-size: 12px;
    color: #737373;
    text-align: left;
    background: #fff;
    display: block;
}
.home-book-form .first-field .btn-select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.home-book-form .field .btn-select:hover,
.home-book-form .field .btn-select:focus {
    outline: none;
    box-shadow: none;
}
.home-book-form .field .btn-select::after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    background: url("../img/acc-down.png") no-repeat;
    border: 0;
    right: 10px;
    top: 15px;
}
.home-book-form .field .dropdown {}
.home-book-form .field .dropdown-menu {
    width: auto;
    padding: 0;
    margin-top: 0;
}
.home-book-form .field .dropdown-menu .column {
    display: block;
    float: left;
    width: 160px;
    border-right: 1px solid #dedede;
}
.home-book-form .field .dropdown-menu .column:last-child {
    border-right: 1px solid transparent;
}
.home-book-form .field .dropdown-menu .column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.home-book-form .field .dropdown-menu .column ul li {
    display: block;
    line-height: 20px;
    width: 160px;
}
.home-book-form .field .dropdown-menu .column ul li a {
    font-family: Arial;
    box-sizing: border-box;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    line-height: 2.55;
    color: #757575;
    transition: all 0.3s;
}
.home-book-form .field .dropdown-menu .column ul li a:hover {
    text-decoration: none;
    color: #ee7515;
    background: #f5f5f5;
}

.home-book-form .field.text {
    width: 175px;
    border-left: 1px solid #ccc;
    background: #fff;
}
.home-book-form .field.text input.form-control {
    border-radius: 0;
    border: 0;
    height: 40px;
    margin: 5px 0;
    font-size: 12px;
    color: #737373;
}
.home-book-form .field.text input:focus {
    border: 0;
    outline: none;
    box-shadow: none;
}
.home-book-form .submitBtn {
    width: 185px;
    float: right;
}
.home-book-form .submitBtn .btn {
    height: 50px;
    position: relative;
    width: 100%;
    background: #ec6d1c;
    display: block;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
}
.home-book-form .submitBtn .btn:focus,
.home-book-form .submitBtn .btn:active,
.home-book-form .submitBtn .btn:visited {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*Style for tab view*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: 100% !important;
        max-width: none;
    }
    section h2.section-title {
        font-size: 26px;
    }
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-image-holder {
        position: relative;
    }
    .welcome-image {
        position: absolute;
        left: 0;
        height: 300px;
        z-index: 999;
        width: 100%;
        overflow: hidden;
        padding-top: 30px;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }
    .h-form {
        padding: 25px 0 30px;
    }
    .home-book-form .field.drop {
        width: 12%;
    }

    .home-book-form .field .btn-select {
        padding: 5px 7%;
    }
    .home-book-form .field .btn-select::after {
        right: 7px;
    }
    .home-book-form .field.text {
        width: 14%;
    }
    .home-book-form .field.text input.form-control {
        padding: 5px 7%;
    }
    .home-book-form .submitBtn {
        width: 14%;
        float: right;
    }
    .carousel-body .expert-image {
        width: 100px;
        height: 100px;
    }
    .carousel-body .expert-says h3 {
        font-size: 16px;
        font-weight: 600;
    }
    .carousel-body .expert-says p {
        font-size: 16px;
        margin: 10px 0 10px;
    }
    .why-sell .sellBox {
        padding: 15px 33% 15px 20px;
    }
    .why-sell .sellBox h4 {
        font-size: 18px;
    }
    .why-sell .sellBox span.icon {bottom: 0;width: 55px;}
    .why-sell .sellBox span.icon img {max-width: 100%}
    .preferred-choice .first-choice {
        padding: 0 20%;
    }
    .preferred-choice h4 {
        font-size: 18px;
    }
    .preferred-choice .second-choice {
        padding: 0 10%;
    }
    .preferred-choice h3 {
        font-size: 22px;
    }
    .customer-reviews:before {
        top: 15px;
        left: 5px;
        background-size: 60px;
    }
    .customer-reviews:after {
        background-size: 60px;
        bottom: -30px;
    }
    #customerCarousel .carousel-control-next {
        right: 0;
    }
    #customerCarousel .carousel-control-prev {
        left: 0;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-text {
        font-size: 190%;
    }
    .welcome-image-holder {
        position: relative;
    }
    .welcome-image {
        padding-top: 22px;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }

    .why-sell .sellBox h4 {
        font-size: 14px;
    }
    .why-sell .sellBox span.icon {
        width: 50px;
    }
    .work-tabs ul.nav-tabs li:first-child,
    .work-tabs ul.nav-tabs li:last-child {
        width: 200px;
    }
    .work-tabs ul.nav-tabs li {
        width: 270px;
    }
    .customer-reviews {
        padding: 30px 20px;
    }
    .customer-reviews:before {
        top:0;
    }
    .customer-reviews p {
        font-size: 16px;
        line-height: 22px;
    }
    section.customers-slider {
        padding-bottom: 45px;
    }
    section.media-center {
        padding: 45px 0 35px;
    }
    .question-section .question-body p {
        font-size: 16px;
    }

    footer .f-links ul li {
        padding-right: 10px;
    }
    footer .f-links ul li a {
        font-size: 12px;
    }
    footer .f-links ul li:after {
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        width: 7px;
        top: 5px;
    }
    footer .f-links ul li a.blinking:before {
        right: -30px;
        background: #ec6d1c;
        padding: 0px 3px;
        border-radius: 3px;
        top: -9px;
        font-size: 10px;
        line-height: 15px;
    }
    .preferred-choice .first-choice {
        padding: 0;
    }

    .home-book-form .field.drop {
        width: 11.5%;
    }
    .home-book-form .field .btn-select {
        padding: 5px 7%;
    }
    .home-book-form .field .btn-select::after {
        right: 5px;
    }
    .home-book-form .field.text {
        width: 14%;
    }
    .home-book-form .field.text input.form-control {
        padding: 5px 7%;
    }
    .home-book-form .submitBtn {
        width: 17%;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-text {
        font-size: 190%;
    }
    .welcome-image-holder {
        position: relative;
    }
    .welcome-image {
        padding-top: 22px;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }

    .why-sell .sellBox h4 {
        font-size: 16px;
    }
    .why-sell .sellBox span.icon {
        width: 45px;
    }
    .customer-reviews {
        padding: 30px 20px;
    }
    .customer-reviews:before {
        top:0;
    }
    .customer-reviews p {
        font-size: 16px;
        line-height: 22px;
    }
    section.customers-slider {
        padding-bottom: 45px;
    }
    section.media-center {
        padding: 45px 0 35px;
    }
    .question-section .question-body p {
        font-size: 16px;
    }

    footer .f-links ul li {
        padding-right: 10px;
    }
    footer .f-links ul li a {
        font-size: 12px;
    }
    footer .f-links ul li:after {
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        width: 7px;
        top: 5px;
    }
    footer .f-links ul li a.blinking:before {
        right: -30px;
        background: #ec6d1c;
        padding: 0px 3px;
        border-radius: 3px;
        top: -9px;
        font-size: 10px;
        line-height: 15px;
    }
    .preferred-choice .first-choice {
        padding: 0 13%;
    }

    .home-book-form .field.drop {
        width: 11.5%;
    }
    .home-book-form .field .btn-select {
        padding: 5px 7%;
    }
    .home-book-form .field .btn-select::after {
        right: 5px;
    }
    .home-book-form .field.text {
        width: 14%;
    }
    .home-book-form .field.text input.form-control {
        padding: 5px 7%;
    }
    .home-book-form .submitBtn {
        width: 17%;
    }
}

@media only screen and (max-width: 768px) {
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-text {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 100px;
        line-height: normal;
        font-style: italic;
        margin-bottom: 75px;
    }
    section {
        padding: 40px 0 45px;
    }
    .welcome-image {
        position: absolute;
        right: 0;
        height: 300px;
        z-index: 999;
        width: 100%;
        overflow: hidden;
        padding-top: 5px;
        left: initial;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }
    .carousel-body .expert-image {
        width: 95px;
        height: 95px;
        margin-top: 5px;
    }
    .carousel-body .expert-says p {
        font-size: 14px;
    }
    .carousel-body .expert-says h3 {
        font-size: 14px;
    }
    .why-sell .sellBox {
        padding: 10px 45px 10px 15px;
    }
    .why-sell .sellBox h4 {
        font-size: 14px;
    }
    .why-sell .sellBox span.icon {
        width: 45px;
    }
    .why-sell .sellBox span.icon img {
        width: 100%;
    }
    .preferred-choice .first-choice {
        padding: 0 10%;
    }
    .preferred-choice h4 {
        font-size: 18px;
    }
    .preferred-choice .second-choice {
        padding: 0 10%;
    }
    .preferred-choice h3 span {
        font-size: 12px;
    }
    #customerCarousel .carousel-control-next {
        right: 0;
        display: none;
    }
    #customerCarousel .carousel-control-prev {
        left: 0;
        display: none;
    }
    .customer-reviews {
        padding: 30px 20px;
    }
    .home-book-form .field.drop {
        width: 90px;
    }
    .home-book-form .field .btn-select {
        padding: 5px 10px;
    }
    .home-book-form .field.text {
        width: 13%;
    }
    .home-book-form .field .btn-select::after {
        right: 3px;
        top: 10px;
    }
    .home-book-form .submitBtn {
        width: 15%;
    }
    .question-section .question-body p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
    .container {
        width: 100%;
        max-width: initial;
    }
    .header-right ul li a span {
        font-size: 14px;
    }
    .welcome-text {
        font-size: 26px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .welcome-image {
        right: 0px;
        padding-top: 58px;
        height: 200px;
    }
    .welcome-image img {
        width: 310px;
    }
    .home-book-form .field.drop {
        width: 12%;
    }
    .home-book-form .field .btn-select {
        font-size: 12px;
        line-height: 30px;
    }
    section h2.section-title {
        font-size: 22px;
    }
    .preferred-choice h4 {
        font-size: 14px;
    }
    .preferred-choice h3 {
        font-size: 18px;
    }
    .why-sell .sellBox {
        padding: 10px 30px 10px 10px;
    }
    .why-sell .sellBox h4 {
        font-size: 13px;
    }
    .why-sell .sellBox span.icon.first {
        width: 40px;
    }
    .why-sell .sellBox span.icon.second {
        width: 40px;
        right: 5px;
        bottom: -5px;
    }
    .why-sell .sellBox span.icon.third {
        right: 0;
        width: 40px;
        bottom: 0px;
    }
    .why-sell .sellBox span.icon.fourth {
        right: 5px;
        width: 40px;
    }
    .work-tabs ul.nav-tabs li a {
        font-size: 13px;
    }
    .work-tabs ul.nav-tabs li:first-child,
    .work-tabs ul.nav-tabs li:last-child {
        width: 160px;
    }
    .work-tabs ul.nav-tabs li {
        width: 235px;
    }
    .work-tabs span.howMainImg.how-2 .absolute-image {
        right: 27px;
    }
    section.customers-slider {
        padding: 50px 0 45px;
    }
    .customer-reviews:before, .customer-reviews:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 45px;
        background-size: 38px;
        z-index: -1;
    }
    .customer-reviews:before {
        left: 0;
        top: 0;
    }
    .customer-reviews:after {
        bottom: -10px;
    }

    .customer-reviews {
        padding: 10px 0;
        min-height: 140px;
    }
    .customer-reviews p {
        font-size: 14px;
        line-height: 20px;
    }
    .customer-reviews h3 {
        margin-top: 10px;
    }
    .home-book-form .submitBtn .btn {
        font-size: 13px;
    }
    .question-section a.question-title {
        padding: 15px 0;
        font-size: 18px;
    }
    .question-section .question-title.collapsed:after {
        top: 15px;
    }

    section.form-footer {
        padding-top: 50px;
    }
    .home-book-form .field.text input.form-control {
        height: 30px;
    }
    .home-book-form .submitBtn .btn {
        height: 40px;
        line-height: 40px;
    }
    footer .f-links ul li {
        padding-right: 10px;
    }
    footer .f-links ul li a {
        font-size: 12px;
    }
    footer .f-links ul li:after {
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        width: 7px;
        top: 5px;
    }
    footer .f-links ul li a.blinking:before {
        right: -30px;
        background: #ec6d1c;
        padding: 0px 3px;
        border-radius: 3px;
        top: -9px;
        font-size: 10px;
        line-height: 15px;
    }

}
@media only screen and (max-width: 767px) and (min-width: 650px) {
    .why-sell .sellBox h4 {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.animated2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake{
    from,to{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    10%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
@keyframes shake{
    from,to{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    10%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
.shake{
    -webkit-animation-name:shake;
    animation-name:shake;
    animation-iteration-count: 1 !important;
}

.blink {
    animation: 1.5s linear infinite blink-effect;
    -moz-animation: 1.5s linear infinite blink-effect;
    -webkit-animation: 1.5s linear infinite blink-effect;
    -o-animation: 1.5s linear infinite blink-effect;
}

@-webkit-keyframes blink-effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes blink-effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}


/*================= appointment page styles ==============*/
.site-nav.alt-nav {
    padding: 10px 0;
    background: #fff;
    position: relative;
    z-index: 9;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    overflow: hidden;
    height: 71px;
}
.alt-nav .head-nav {
    margin: 0;
}
.alt-nav .header-left {
    float: left;
    display: block;
    width: 50%;
}
.alt-nav .header-right {
    display: block;
    float: right;
    height: auto;
}
.alt-nav .header-right ul {
    height: auto;
}
.alt-nav .header-right ul li {
    float: none;
    margin: 0 0 6px;
    line-height: 22px;
    height: 22px;
}
.alt-nav .header-right ul li:last-child {
    margin-bottom: 0;
}
.alt-nav .header-right ul li a {
    line-height: 22px;
}
.alt-nav .header-right ul li a img {
    top: 0px;
}
.alt-nav .header-right ul li small {
    line-height: 22px;
    font-size: 16px;
    color: #767676;
}

/*== Appointment Section==*/
.appointment-section {
    background: #f3f3f3;
    padding: 25px 0 0;
    border-top: 1px solid #ccc;
}
.quote-price {
    padding-left: 5px;
    margin: 70px 0 20px 0;
    text-align: left;
    clear: both;
}
.quote-price p {
    color: #fff;
    font-size: 22px;
    display: inline-block;
    font-weight: 600;
    padding: 15px 20px;
    min-height: 63px;
    -webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    text-align: left;
}
.quote-price p span {
    -webkit-transform: skew(8deg);
    -moz-transform: skew(8deg);
    -o-transform: skew(8deg);
    font-style: italic;
    display: block;
}
.quote-price p small {
    display: block;
    font-size: 11px;
    letter-spacing: 0;
}
.quote-price p.q-title {
    background: #1c5a89;
    margin: 0 0 0 10px;
}
.quote-price p.q-price {
    background: #e56935;
    font-weight: 400;
    padding-bottom: 10px;
    letter-spacing: 0.8px;
}

.appointment-form {
    display: block;
    margin-bottom: 15px;
}
.appointment-form h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    margin: 0 0 15px;
    color: #212121;
}
.appointment-form .select-parent {
    border: 1px solid #e5e5e5;
    height: 48px;
    background-color: #fff;
    position: relative;
    border-bottom: 0;
}
.appointment-form .select-parent.disabled {
    background: transparent;
}
.appointment-form .select-parent.disabled:after {
    background-image: url(../img/acc-down-b.png);
}
.appointment-form .select-parent:first-child {
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.appointment-form .select-parent.last-child {
    border-bottom: 1px solid #e5e5e5;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}
.appointment-form .gentleselect-label {
    width: 100% !important;
    border: 0;
    cursor: pointer;
    padding: 5px 30px 5px 15px;
    color: #757575;
    font-size: 12px;
    top: 0;
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: arial;
    height: 48px;
    line-height: 40px;
    font-weight: normal;
    border-radius: 0;
    background: transparent;
}
.appointment-form .select-parent .gentleselect-label:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    right: 10px;
    top: 15px;
    background-image: url(../img/acc-down.png);
}
.appointment-form .select-parent.disabled .gentleselect-label:after {
    background-image: url(../img/acc-down-b.png);
}
.appointment-form .gentleselect-dialog {
    padding: 0;
    position: absolute;
    z-index: 500;
    display: none;
    background-color: transparent;
    border: 0;
    padding-top: 6px !important;
    top: 40px !important;
    margin: 0;
    box-shadow: none;
    width: calc(100% + 2px);
    left: -1px !important;
}
.appointment-form .gentleselect-dialog>ul {
    border-color: #e5e5e5 !important;
    border-top-width: 0 !important;
    background: #fff;
}
.appointment-form .gentleselect-dialog>ul>li:first-child {
    font-weight: bold;
    background: transparent;
    cursor: inherit;
    width: 100% !important;
    display: none;
}
.appointment-form .gentleselect-dialog>ul>li {
    padding: 0 17px;
    font-family: Arial;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 2.55;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5 !important;
}
.appointment-form .gentleselect-dialog > ul > li.selected,
.appointment-form .gentleselect-dialog>ul>li:hover,
.appointment-form .gentleselect-dialog>ul>li:focus {
    color: #ee7515 !important;
    background: #f5f5f5 !important;
}

.appointment-form .input-holder {
    position: relative;
    margin: 4px 0 0;
}
.appointment-form input.form-control {
    margin: 0;
    padding-right: 30px;
    border: 0;
    background-color: #fff;
    height: 48px;
    line-height: 48px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    padding-left: 15px;
}
.appointment-form input.form-control:active,
.appointment-form input.form-control:focus {
    outline: none;
    border: 0;
    box-shadow: none;

}
.appointment-form .err-msg {
    color: #ff0000;
    font-size: 14px;
    display: block;
}
.appointment-form .has-tooltip .tip {
    position: absolute;
    z-index: 9;
    top: 10px;
    right: 15px;
}
.appointment-form .has-tooltip .tooltip-text {
    position: absolute;
    right: -235px;
    width: 245px;
    background: #fff;
    padding: 10px;
    border: 2px solid #e56935;
    font-size: 14px;
    line-height: 19px;
    z-index: 99;
    display: none;
    top: 10px;
}
.appointment-form .has-tooltip .tip:hover + .tooltip-text {
    display: block;
}
.pre-owned {
    display: block;
}
.pre-owned p {
    font-size: 14px;
    font-weight: 600;
    display: inherit;
    margin: 14px 0 7px;
    color: #323232;
}
.pre-owned label {
    font-size: 13px;
    margin-bottom: 0;
}
.pre-owned input[type=radio] {
    width: 14px;
    height: 14px;
}
.appointment-form .submit {
    display: block;
    margin-bottom: 15px;
}
.appointment-form .submit-btn {
    height: 49px;
    position: relative;
    width: 100%;
    background: #ec6d1c;
    display: inline-block;
    font-size: 15px;
    text-rendering: auto;
    border-radius: 5px;
    color: #fff;
    font-family: Helvetica;
    font-weight: 600;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
}
.appointment-form .submit-btn:active,
.appointment-form .submit-btn:visited,
.appointment-form .submit-btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.policy-text {
    font-size: 14px;
}
.policy-text a {
    color: #ec6d37;
}
.policy-text a:hover {
    color: #ec6d37;
    text-decoration: none;
}

.time-address {
    color: #4d4d4d;
    width: 230px;
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #f5f5f5;
    border: 1px dashed #aea9a9;
    font-size: 14px;
    line-height: 1.43;
    margin-left: -20px;
}
.time-address strong {
    display: block;
    font-weight: normal;
    color: #000;
    margin: 0 0 5px;
}
.time-address a {
    text-transform: uppercase;
    display: inline-block;
    margin: 13px 0 0;
    color: #ec6e33;
    text-decoration: none;
}
.time-address a:hover {
    text-decoration: none;
}
/*== Confirm Appointment Popup Styles ==*/

.confirm-appt-modal {}
.confirm-appt-modal .modal-dialog {
    margin-top: 10%;
}
.confirm-appt-modal .modal-body {
    position: relative;
    padding-top: 0;
}
.confirm-appt-modal .modal-body:before {
    height: 5px;
    width: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #ec6e33;
    border-radius: 3px 3px 0px 0px;
}
.confirm-appt-modal .modal-title {
    text-align: center;
    display: block;
    line-height: 40px;
    border-bottom: 2px solid #dcdcdc;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
    font-size: 22px;
}
.confirm-appt-modal a.close {
    position: absolute;
    right: 5px;
    top: 25px;
    background: transparent;
    width: 30px;
    height: 30px;
}
.confirm-appt-modal a.close:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.confirmation-form {
    display: block;
    padding: 0 10%;
    overflow: hidden;
    border-bottom: 2px solid #dcdcdc;
}
.confirmation-form h5 {
    text-align: center;
    font-size: 14px;
    color: #303030;
    padding: 15px 0;
    width: 100%;
    display: block;
    line-height: 22px;
}
.confirmation-form .otp-field {
    display: block;
}
.confirmation-form .otp-field input.form-control {
    text-align: center;
    font-size: 14px;
    border: 1px solid #e0e0e0;
}
.confirmation-form .otp-field p.err-msg {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: red;
    margin: 10px 0 0;
}
.change-number {
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 10px 0 10px;
    position: relative;
}
.change-number a {
    color: #ec6e33;
    font-size: 14px;
}
.change-number a:hover,
.change-number a:focus {
    text-decoration: none;
}
.confirm-btn {
    background: #ec6d37;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-weight: 600;
    margin-bottom: 15px;
}
.confirm-btn:hover,
.confirm-btn:focus {
    color: #fff;
    text-decoration: none;
}
.confirm-footer {
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    color: #333;
    line-height: 18px;
}
.confirm-footer span {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: #e36101;
    padding-left: 5px;

    font-style: italic;
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .appointment-form h3 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 992px) and (min-width: 500px) {
    .quote-price {
        width: 400px;
        margin: 0 auto 25px;
        padding: 0;
        text-align: center;
    }
}

/*=========== Branch Pages ==========*/
.branch-pages {
    background-color: #f3f3f3;
    width: 100%;
    min-height: 400px;
}
.breadcrumb {
    padding: 24px 0 16px;
    margin: 0;
    background: transparent;
}
.breadcrumb li {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #888;
}
.breadcrumb li + li {
    margin-left: 20px;
    position: relative;
}
.breadcrumb li + li:before {
    position: absolute;
    content: '';
    background: url("../img/breadcrumb-arr.png") no-repeat;
    width: 20px;
    height: 20px;
    left: -16px;
    top: 0px;
}
.breadcrumb li a {
    color: #ec6d1c;
    display: block;
    line-height: 20px;
}
.breadcrumb li a:hover,
.breadcrumb li a:focus {
    text-decoration: none;
}
.branch-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #212121;
    margin: 0 0 16px;
}
.branch-container {
    border: solid 1px #d6d3d3;
    background-color: #eee;
    border-top: 2px solid #d6d3d3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.branch-tabs {
    overflow: hidden;
}
.branch-tabs .left-nav {
    width: 368px;
    float: left;
    padding-bottom: 251px;
    background: #fff;
}
.branch-tabs .left-nav .nav-link {
    width: 100%;
    display: block;
    border: solid 1px #d6d3d3;
    border-left: 0;
    background: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 46px;
    line-height: 46px;
    letter-spacing: normal;
    text-align: justify;
    color: #212121;
    cursor: default;
    border-top-color: transparent;
    padding: 0 0 0 23px;
}
.branch-tabs .left-nav .nav-link:first-child {
}
.branch-tabs .left-nav .nav-link.active {
    background-color: #eee;
    border-right: 1px solid transparent;
}
.branch-tabs .right-tab {
    float: left;
    width: calc(100% - 400px);
    margin: 16px;
}
.branch-tabs .map-container {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border: solid 1px #d6d3d3;
    margin-bottom: 16px;
    height: 238px;
    text-align: center;
    background: #f9f9f9;
}
.branch-tabs .right-tab .branchCard {
    width: 360px;
    position: relative;
    padding: 16px;
    background: #fff;
    border: solid 1px #d6d3d3;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    margin: 0 16px 16px 0;
    float: left;
}
.branch-tabs .branchCard:nth-child(2n+1) {
    margin-right: 0;
}
.branch-tabs .right-tab .branchCard a.cardTittle {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0 0 8px;
    display: block;
}
.branch-tabs .right-tab .branchCard a.cardTittle:hover,
.branch-tabs .right-tab .branchCard a.cardTittle:focus {
    text-decoration: none;
    color: initial;
}
.branch-tabs .right-tab .branchCard .cardDesc {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0;
}
.branch-tabs .right-tab .branchCard .cardFooter {
    margin-top: 30px;
    overflow: hidden;
}
.branch-tabs .right-tab .branchCard .bookBtn {
    width: 50%;
    height: 32px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #ec6d1c;
    display: block;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    float: left;
}
.branch-tabs .right-tab .branchCard .bookBtn:hover,
.branch-tabs .right-tab .branchCard .bookBtn:focus {
    text-decoration: none;
    color: #fff;
}
.branch-tabs .right-tab .branchCard .getDir {
    line-height: 32px;
    color: #ec6d1c;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
.branch-tabs .right-tab .branchCard .getDir:hover,
.branch-tabs .right-tab .branchCard .getDir:focus {
    text-decoration: none;
    color: #ec6d1c;
}

/*=========== City Page ==========*/
.city-container {
    overflow: hidden;
}
.city-container .left-container {
    width: 368px;
    float: left;
}
.city-container .left-container .address-card {
    width: 100%;
    position: relative;
    padding: 16px;
    background: #fff;
    border: solid 1px #d6d3d3;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0 0 16px 0;
}
.city-container .left-container .address-card h3 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0 0 8px;
}
.city-container .left-container .address-card p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0;
}
.city-container .left-container .address-card a {
    display: block;
    color: #ec6d1c;
    font-size: 14px;
    text-transform: uppercase;
}
.city-container .left-container .address-card a:hover,
.city-container .left-container .address-card a:focus {
    color: #ec6d1c;
    text-decoration: none;
}
.city-container .right-container {
    float: left;
    width: calc(100% - 384px);
    margin: 0 0 0 16px;
}
.city-container .map-card {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border: solid 1px #d6d3d3;
    margin-bottom: 16px;
    height: 380px;
    text-align: center;
    background: #f9f9f9;
}

.city-appointment-form {
    margin-bottom: 28px;
    background: #fff;
    padding: 16px;
    width: 100%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    float: left;
}
.city-appointment-form h2 {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0;
}
.modal-body .city-appointment-form h2 {
    font-size: 24px;
    width: 293px;
    color: #212121;
}
.city-appointment-form h4 {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    width: 100%;
    margin: 16px 0 8px;
}

.city-appointment-form form {
    margin-bottom: 0;
}
.city-appointment-form .split-drop {
    margin-bottom: 16px;
    height: 50px;
}
.city-appointment-form .split-drop .select-parent {border: 1px solid #ccc;border-radius: 4px;width: 50%;float: left;}
.city-appointment-form .split-drop .select-parent.disabled {
    background: #e0e0e0;
}
.city-appointment-form .split-drop .select-parent:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.city-appointment-form .split-drop .select-parent:first-child:after {
    position: absolute;
    content: '';
    background: url("../img/home-next.svg") no-repeat;
    width: 14px;
    height: 14px;
    top: 50%;
    right: -7px;
    z-index: 9;
    margin-top: -7px;
}
.city-appointment-form .split-drop .select-parent:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.city-appointment-form .gentleselect-label {
    font-size: 14px;
}
.city-appointment-form .phone-number {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 14px !important;
}
.city-appointment-form .submitBtn {
    background: #ec6d37;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    margin-top: 16px;
}
.city-appointment-form .submitBtn:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.city-appointment-form .policy-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #757575;
    margin: 16px 0 0;
}
#cityAppointmentModal .modal-body {
    padding: 0;
}
#cityAppointmentModal .modal-body:before {
    display: none;
}
#cityAppointmentModal .modal-dialog {
    max-width: 415px;
}
#cityAppointmentModal .city-appointment-form {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
    .city-container .left-container {
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    .city-container .right-container {
        width: 80%;
        margin: 0 auto;
        clear: both;
        float: none;
    }
}